<div class="flame-top"></div>
<div class="containers">
  <div class="sidebar-left"></div>
  <div class="main-container">
    <div class="box">
      <table>
        <thead>
          <tr>
            <th>タイトル</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @notice.title %>
            </td>
            <td>
              <%= @notice.body %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="sidebar-right"></div>
</div>  