<div class="home-container">
  <div class="home-image-container">
    <div id="slider">
      <div class="home-image"><img class="home-image-item" src="assets/home-image1.jpg"></div>
      <div class="home-image"><img class="home-image-item" src="assets/home-image2.jpg"></div>
    </div>
  </div>

  <div class="home-main container">
    <div class="notise-container">
      <h3 class="notise-heading">お知らせ</h3>
      <table>
        <tr class="notise-item">
          <td>
            <p class="notise-create">2020/12/20</p>
            <p class="notise-title"><a href="#">年末年始の診療時間について</a></p>
          </td>
        </tr>
        <tr>
          <td class="notise-item">
            <p class="notise-create">2021/1/4</p>
            <p class="notise-title"><a href="#">年始のご挨拶</a></p>
          </td>
        </tr>
        <tr>
          <td class="notise-item">
            <p class="notise-create">201/1/19</p>
            <p class="notise-title"><a href="#">ホームページリニューアルについて</a></p>
          </td>
        </tr>
      </table>
    </div>

    <div class="nav-container">
      <div class="nav-image"><a href="#"><img class="nav-image-item" src="assets/nav-image-1.png"></img></a></div>
      <div class="nav-image"><a href="#"><img class="nav-image-item" src="assets/nav-image-2.png"></img></a></div>
      <div class="nav-image"><a href="#"><img class="nav-image-item" src="assets/nav-image-3.png"></img></a></div>
      <div class="nav-image"><a href="#"><img class="nav-image-item" src="assets/nav-image-4.png"></img></a></div>
      <div class="nav-image"><a href="#"><img class="nav-image-item" src="assets/nav-image-5.png"></img></a></div>
      <div class="nav-image"><a href="#"><img class="nav-image-item" src="assets/nav-image-6.png"></img></a></div>
      <div class="nav-image"><a href="#"><img class="nav-image-item" src="assets/nav-image-7.png"></img></a></div>
    </div>
  </div>
  <div class="home-main container">
    <div class="box">
      <h1><i class="fas fa-paw"></i> お問い合わせ・ご予約はコチラ <i class="fas fa-paw"></i></h1>
      <div class="inpuiry-container">
        <div class="inpuiry-image">
          <a href="#"><img class="inpuiry-image-item" src="assets/inpuiry-1.png"></a>
          <a href="#"><img class="inpuiry-image-item" src="assets/inpuiry-3.png"></a>
        </div>
        <div class="inpuiry-image">
          <a href="#"><img class="inpuiry-image-item" src="assets/inpuiry-2.png"></a>
          <a href="#"><img class="inpuiry-image-item" src="assets/inpuiry-3.png"></a>
        </div>
        <div class="calender">
        <img class="calender-image-item" src="assets/calender.png">
      </div>
      </div>
      <h2 class="access-heading">アクセス</h2>
      <div class="access-container">
        <div class="access-image">
          <!-- mapが入る -->
        </div>
        <div class="access-text-container">
          <h4 class="access-text-heading">交通案内</h4>
          <div class="access-text-item">
            <p>
              ○バスでお越しの方<br />
              青葉台駅より〇番のりばから東急バス「藤が丘駅行」乗車「桜台」下車  徒歩５分
            </p>
            <p>
              ○車でお越しの方<br />
              駐車場２台有り
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
