<div class="flame-top"></div>
  <h1>ホテル</h1>
</div>
<div class="containers">
  <div class="sidebar-left"></div>
  <div class="main-container">
    <div class="box">
      <h2>ホテルの料金一覧</h2>
      <img class="prise-image" src="assets/hotel/price-hotel.png"></img>
      <div class="hotel-praice-text">
      <br>  
        <p>
          ※半日のお預かりは1泊2日料金の半額<br />
          例：トイプードルのワンちゃん
          朝10時から夕方6時までお預かり＝1,500円
        </p>
        <p>
          ※ご予約は<%= link_to"お電話のみ", root_path(anchor: "inpuiry-heading"), "data-turbolinks": false %>で承っております！
        </p>
      </div>
      <div class="containers">
        <img class="hotel-image3" src="assets/hotel/hotel-image3.PNG">
        <div class="message-container-h">
          <h4 class="message-heading-h">必ずご確認ください！</h4>
          <h5>■ 初めてワンちゃんホテルご利用の方へお願い</h5>
          <p>一年以内の混合ワクチン接種・狂犬病ワクチン接種の確認が必要です。</p>
          <h5>■ 初めてのホテルご利用の皆さまへお願い</h5>
          <p>普段食べているドッグフードや好物を一食分づつ小分けにして回数分ご持参下さい。</p>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="commitment-text">
        <h3 class="commitment-heading hotel-commitment">当院のこだわり</h3>
        <ul>
          <li class="hotel-commitment-list"><i class="fas fa-paw" ></i> わんちゃん、ネコちゃん、ウサギさんの部屋ごとに分かれていてとても静かです</li>
          <li class="hotel-commitment-list"><i class="fas fa-paw" ></i> 獣医師によるチェックを行い、お帰りにホテルの報告書をお渡ししています</li>
          <li class="hotel-commitment-list"><i class="fas fa-paw" ></i> ドッグラン、ラビットランがあり、ストレスを解消できます</li>
        </ul>
      </div>
     
      <div class="hotel-background">
        <h2>設備のご紹介</h2>
        <div class="containers">
          <div class="hotel-item">
            <div class="hotel-image-heading">ワンちゃん・ねこちゃんのホテル</div>
            <img class="hotel-image-item" src="assets/hotel/hotel-image1.jpg">
          </div>
          <div class="hotel-item">
            <div class="hotel-image-heading">ウサギさんのホテル</div>
            <img class="hotel-image-item" src="assets/hotel/hotel-image2.jpg">
          </div>
        </div>
        <div class="hotel-image-heading">ドッグラン</div>
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/lGxp8VApZOc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="dogrun-video"></iframe>
      </div> 
    </div>
  </div>  
  <div class="sidebar-right"></div>
</div>