<div class="flame-top"></div>
<h1>施設紹介</h1>
<div class="containers">
  <div class="sidebar-left"></div>
  <div class="main-container">
    
    <!-- 外観＋受付 -->
    <div class="box">
      <h2>正面入口</h2> 
      <div class="information-image">
        <img class="information-image-item" src="assets/information/front.jpg">
      </div>
      <h2>裏入口</h2>
      <div class="information-image">
         <img class="information-image-item" src="assets/information/back.jpg">
      </div>
      <h2>総合受付</h2>
      <div class="information-image">
         <img class="information-image-item" src="assets/information/infomation.jpg">
      </div>
    </div>
    
    <!-- 待合室 -->
    <div class="box">
      <h2>ワンちゃんの待合室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/dog-treatment-room.jpg">
      </div>
      <h2>ネコちゃんの待合室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/cat-treatment-room.jpg">
      </div>
      <h2>ウサギさんの待合室</h2>
      <div class="information-image">
         <img class="information-image-item" src="assets/information/rabit-wait-room.jpg">
      </div>
    </div>
    <!-- 診察室 -->
    <div class="box">
      <h2>ワンちゃんの診察室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/dog-treatment-room.jpg">
      </div>
      <h2>ネコちゃんの診察室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/cat-treatment-room.jpg">
      </div>
      <h2>ウサギちゃんの診察室</h2>
      <div class="information-image">
         <img class="information-image-item" src="assets/information/rabit-treatment-room.jpg">
      </div>
    </div>
    <div class="box">
       <h2>ワンちゃんの入院室・ホテル</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/dog-hotel.jpg">
      </div>
      <h2>ウサギさんICU・入院室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/rabit-hotel-1.jpg">
      </div>
      <h2>ウサギさんホテル・ラビットラン</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/rabit-hotel-2.jpg">
      </div>
    </div>
    <!-- 設備 -->
    <div class="box">
      <h2>処置室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/treatment-room.jpg">
      </div>
      <h2>レントゲン室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/roentgen.jpg">
      </div>
      <h2>オペ室・CT室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/operation-room.jpg">
      </div>
    </div>
    <!-- トリミング室・ドッグラン -->
    <div class="box">
       <h2>トリミング室</h2>
      <div class="information-image">
        <img class="information-image-item" src="assets/information/trimming-room.jpg">
      </div>
       <h2>ドッグラン</h2>
      <div class="information-image">
        <iframe width="70%" height="450" src="https://www.youtube.com/embed/lGxp8VApZOc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="information-image">
        <iframe width="70%" height="450" src="https://www.youtube.com/embed/Kw1ngzMrlQ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="sidebar-left"></div>
</div>
