<div class="page-title">
   <div class="flame-top">
      <h1>トリミング</h1>
   </div> 
</div>
<div class="containers">
  <div class="sidebar-left trimming-sidebar">
    <img class="tirimming-image-1 trimming-animation" src="assets/trimming-1.png">
  </div>
  <div class="trimming-container">
    <div class="box">
      <div class="commitment-container">
        <div class="commitment-text">
          <h3 class="commitment-heading">当院のこだわり</h3>
          <ul>
            <li>通常のトリミング以外に「皮膚の弱いコ」や「皮膚病に特化したコース」を提供しています</li>
            <li>トリミング報告書をお出ししています。獣医師がチェックし異常があれば、ご説明しています</li>
          </ul>
        </div>
        <img class="commitment-image" src="assets/course.jpeg"></img>
      </div>
    </div>
    <div class="box">
      <div class="price-container">
        <img class="prise-image" src="assets/price.png"></img>
        <p class="price-text">
          ※トリミング料金は体格、スタイルによって変わります。
          10歳以上のワンちゃんのトリミングは安全管理上、
          年1回バースデーの頃に健康チェックを受けて頂きます。
        </p>
      </div>
      <div class="border"></div>
      <div class="complement-container">
        <div class="price-message-container">
          <h4 class="price-message-heading">初めての方へお願い!</h4>
          <p>一年以内の混合ワクチン接種・狂犬病ワクチン接種の確認が必要です。</p>
        </div>
        <div class="coupon-container">
          <div class="coupon-text">
            <div class="coupon-heading">早割券でシャンプー・トリミング15%OFF！</div>
            <p>
              シャンプー・トリミング時に次回のご予約をして頂くと、<br />
              次回のトリミングが15%割引になるチケットをお渡しします！
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-right trimming-sidebar">
    <img class="tirimming-image-2 trimming-animation" src="assets/trimming-2.png"></img>
  </div>
</div>

<div class="gyallery-container">
  <div class="gallery-background">
    <div class="gallery-heading"><img class="gallery-heading-image" src="assets/trimming-gallery-heder.png"></img></div>
    <div class="gallery-image-container">
      <img class="gallery-image" src="assets/trimming-image-1.png"></img>
      <img class="gallery-image" src="assets/trimming-image-2.png"></img>
      <img class="gallery-image" src="assets/trimming-image-3.png"></img>
      <img class="gallery-image" src="assets/trimming-image-4.png"></img>
      <img class="gallery-image" src="assets/trimming-image-5.png"></img>
      <img class="gallery-image" src="assets/trimming-image-6.png"></img>
      <img class="gallery-image" src="assets/trimming-image-7.png"></img>
      <img class="gallery-image" src="assets/trimming-image-8.png"></img>
      <img class="gallery-image" src="assets/trimming-image-9.png"></img>
      <img class="gallery-image" src="assets/trimming-image-10.png"></img>
      <img class="gallery-image" src="assets/trimming-image-11.png"></img>
    </div>
  </div>
</div>



