/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');


 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  background-color: rgba(239, 121, 15, 0.07);
}

main {
  width: 100%;
  z-index: 2;
}

h1 {
  font-family: 'Hachi Maru Pop', cursive;
  color: #ef790f;
  text-align: center;
  font-weight: 900;
  font-size: 600%;
  margin-bottom: 5%;
}

h2 {
  font-family: 'Hachi Maru Pop', cursive;
  color: #ef790f;
  text-align: center;
  font-weight: 900;
  font-size: 35px;
}

h3 {
  font-family: 'Hachi Maru Pop', cursive;
  text-align: center;
}

h4 {
  font-family: 'Hachi Maru Pop', cursive;
  text-align: center;
  border-bottom: 5px dotted;
}

.box {
 padding: 2%;
 margin: 2% 0;
 background-color: #ffffff;
 box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.btn-hover:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.page-title {
  width: 100%;
}

.flame-top{
  // width: 100%;
  // background-image: image-url("flame-flower-2.PNG");
  // background-position: bottom;
  // background-size: cover;

  width: 50%;
  padding: 19% 17% 5% 17%;
  background-image: image-url("flame/flame-flower-4.PNG");
  display: flex;
  background-size: cover;
  background-position: bottom;
}

.containers {
  display: flex;
  flex: flex-end;
}

/* header */
.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.headlign {
 width: 80%;
 padding: 1% 9% 1% 1%;
 display: flex;
 justify-content: flex-end;
}

.logo {
 width: 135px;
 height: 105px;
 background-image: image-url("Logo-img.PNG");
 background-position: center;
 background-size: cover;
}

.header-item {
   margin-left: auto;
}

.reservation-image {
 width: 180px;
 height: 150px;
 position: fixed;
 z-index: 1;
 background-position: center;
 background-size: cover;
 background-image: image-url("item/reservation-img.png");
}

/* menubar */
.menubar {
  background-color: #ef790f;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.menubar > ul{
display: table;
margin: 0 auto;
padding: 0;
width: 80%;
text-align: center;
font-size: 130%;
font-family: 'Hachi Maru Pop', cursive;
}

.menubar > ul li{
display: table-cell;
min-width: 50px;
}

.menubar > ul li a{
display: block;
width: 100%;
padding: 10px 0;
text-decoration: none;
color: #ffffff;
font-weight: bold;
}


.menubar > ul li:hover{
background-color: #f2dc24;
}

/* main */
main {
width: 100%;
height: auto;
}

/* footer */
footer {
  width: 100%;
}

.flame-bottom {
  /* big-flower */
  // width: 100%;
  // height: 355px;
  // background-image: image-url("flame-flower-3.PNG");
  // background-position: center;
  // background-size: cover;

  /* 桜 */
  width: 50%;
  height: 355px;
  background-image: image-url("flame/flame-flower-5.PNG");
  background-position: top;
  background-size: cover;
  margin-left: auto;

/* 足跡 */
  // padding: 7%;
  // background-image: image-url("flame-animal-1.PNG");
  // background-position: top;
  // background-size: contain;
}

.footlign {
width: 100%;
height: 100px;
background-color: #ef790f;
box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.footlign > p {
  line-height: 85px;
  text-align: right;
  color: #ffffff;
}

/* home */
.home-container {
  margin-bottom: 2%;
}

.home-main {
  display: flex;
  padding: 5%;
}

.home-flame-top {
/* big-flower */
  // background-image: image-url("flame-flower-1.PNG");
  // background-size: cover;
  // background-position: center;
  // padding: 19% 17% 5% 17%;
  // display: flex;
/* 桜 */
  width: 50%;
  padding: 19% 17% 5% 17%;
  background-image: image-url("flame/flame-flower-4.PNG");
  display: flex;
  background-size: cover;
  background-position: bottom;

  /* 足跡　*/
  // padding: 7%;
  // margin-bottom: 5%;
  // background-image: image-url("flame-animal-1.PNG");
  // display: flex;
  // background-size: contain;
  // background-position: bottom;
}

.home-image-item {
  width: 100%;
  height: 600px;
}

.slick-next {
  right: 10px !important;
  z-index: 100;
 }

.slick-prev {
  left: 10px !important;
  z-index: 100;
 }

 .slick-dots {
   background-color: #ef790f;
 }

/* home-notise-nav */
.dogrun-vedeo {
  width: 30%;
}

.notise-container {
 width: 30%;
 padding: 2%;
 margin-right: 2%;
 border: solid 4px #ef790f;
 border-radius: 15%;
 background-color: #ffffff;
 box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);

}

.notise-heading {
 margin-bottoms: 1%;
 text-align: center;
 color: #ef790f;
 font-family: 'Hachi Maru Pop', cursive;
 border-bottom: 5px dotted;
}

.notise-item {
 font-size: 120%;
}

.nav-container {
 width: 70%;
 padding: 2%;
 margin-left: 2%;
 border: solid 4px #ef790f;
 border-radius: 10%;
 display: flex;
 flex-wrap: wrap;
 background-color: #ffffff;
 box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.nav-image {
 width: 50%;
}

.nav-image-item {
 width: 100%;
}

 /* home-inpuiry */
.inpuiry-containers {
 margin-top: 1%;
 margin: 2%;

}
.inpuiry-container {
 display: flex;
 justify-content: center;
 width: 100%;

}

.inpuiry-image-1 {
  background-image: image-url("inpuiry-image-1.png");
  background-size: cover;
  background-position: center;
  width: 33%;
  margin: 1%;
}

.inpuiry-image-2 {
  background-image: image-url("inpuiry-image-2.png");
   background-size: cover;
  background-position: center;
  width: 21%;
  margin: 1%;
}

.inpuiry-image {
 width: 20%;
}

.inpuiry-image-item {
 width: 100%;
 margin-top: 10%;
}

.inpuiry-image-item:nth-child(1) {
 padding-right: 7%;
}


.inpuiry-image-item:nth-child(2) {
 padding-left: 7%;
}

.calender-image-item {
  width: 100%;
  display: flex;
}

.access-container {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  padding: 2%;
}
.access-image {
  width: 60%;
  heght: 700px;
  background-color: gray;
}

.access-text-container {
  width: 30%;
  margin-left: 5%;

}

.access-text-heading {
  font-size: 130%;
}

.access-text-item {
  font-size: 100%;
}

/* trimming */
.trimming-container {
  width: 73%;
}

.sidebar-left {
  width: 6%;
  margin-left: 2%;
  margin-right: 5%;
}

.sidebar-right {
  width: 6%;
}


.tirimming-image-1 {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.5s;
    width: 250%;
    margin-top: 100%;
 }

 .tirimming-image-2 {
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1.0s;
    width: 200%;
    margin-top: 950%;

 }

.trimming-animation{
    animation-name: anim_s;
    transform: rotate(10deg);
    animation-duration: 5s;
}

.trimming-animation:hover{
  transform:scale(1.2,1.2);
}

@keyframes anim_s {
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.commitment-container {
}
.commitment-text {
  width: 100%;
  border: solid 4px #3F9BBF;
  background-color: #ffffff;
}

.commitment-text > ul {
  padding: 2% 5% 2% 7%;
  font-size: 130%;
}

.commitment-text > ul li {
  margin: 1% 0;
}

.commitment-heading {
  color: #ffffff;
  background-color: #3F9BBF;
  margin-top: 0;
  padding: 1% 0;
}

.commitment-image {
  margin-top: 5%;
  width: 100%;
}

/* trimming-complement */
.complement-container {
  display: flex;
  justify-content: center;
}
.prise-image {
  width: 100%;
}

.price-text {
  text-align: center;
  color: #FF1E22;
  font-size: 90%;
}

.price-message-container {
  width: 35%;
  border: solid 4px rgba(255, 240, 30, 0.6);
  background-color: rgba(255, 240, 30, 0.6);
  border-radius: 50%;
  text-align: center;
  padding: 2% 5%;
  margin-top: 1%;
  margin-right: 2.5%;
}
.price-message-container > h4 {
color: #ef790f;
}

.coupon-container {
  width: 50%;
  margin-left: 2.5%;
  margin-top: 3%;
}

.coupon-heading {
  background-color: #98948F;
  color: #ffffff;
  margin-top: 0;
  font-size: 120%;
  text-align: center;
}

.coupon-text {
  width: 100%;
  border: solid 4px #98948F;
  background-color: #ffffff;
}

.coupon-text > p {
  padding: 2% 5%;
}

/* trimming-gallery */
.gyallery-container {
  margin: 7% 5% 5% 5%;
}
.gallery-background {
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: image-url("gallery-back.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.gallery-heading {
  text-align: center;
}

.gallery-heading-image {
  width: 80%;
}

.gallery-image-container {
  width: 100%;
  margin-top: 5%;
  padding: 0 15%;
  display: flex;
  flex-wrap: wrap;
}

.gallery-image {
  width: 30%;
  display-size: cover;
}

.gallery-image:hover {
  width: 30%;
  display-size: cover;
  -webkit-animation: gallery-image 0.8s linear 0s 1;
	animation: gallery-image 0.8s linear 0s 1;
}

@-webkit-keyframes gallery-image {
	0%   { -webkit-transform: scale(1.0, 1.0) translate(0%, 0%); }
	15%  { -webkit-transform: scale(0.9, 0.9) translate(0%, 5%); }
	30%  { -webkit-transform: scale(1.3, 0.8) translate(0%, 10%); }
	50%  { -webkit-transform: scale(0.8, 1.3) translate(0%, -10%); }
	70%  { -webkit-transform: scale(1.1, 0.9) translate(0%, 5%); }
	100% { -webkit-transform: scale(1.0, 1.0) translate(0%, 0%); }
}
@keyframes gallery-image {
	0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
	15%  { transform: scale(0.9, 0.9) translate(0%, 5%); }
	30%  { transform: scale(1.3, 0.8) translate(0%, 10%); }
	50%  { transform: scale(0.8, 1.3) translate(0%, -10%); }
	70%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
	100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}

.gallery-image:nth-child(2), .gallery-image:nth-child(5), .gallery-image:nth-child(8),
.gallery-image:nth-child(11) {
  margin: 0 5%;
}

.gallery-image:nth-child(-n+9) {
 margin-bottom: 5%;
}




